* {
  /* * : universal selector; applies to all elements; see #1 */

  margin: 0; /* creates space outside the element */
  padding: 0; /* space between element content and its border */
  box-sizing: border-box; /* sets how element's size (width/height) is calculated */
  list-style: none; /* sets bulet point styles; see #2 */
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sm-2: 14px;
  --box-shadow0: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --transition0: all 0.4 ease-in-out;
}

body {
  background-color: var(
    --color-primary
  ); /* sets the background color of body */
  font-family: "Poppins", sans-serif; /* sets font for every element in body */
  font-size: 1.1rem; /* sets defualt font size for every element in body */
  color: var(
    --color-white
  ); /* sets default font color for every element in body */
  transition: var(
    --transition0
  ); /* adds transitions to every element in body */
}

a {
  display: inline-block; /* determines how an element is displayed. see #3 */
  text-decoration: none; /* adds decorative lines to text */
  color: inherit; /* inherits color value from its parent */
  font-family: inherit; /* inherits font value from its parent */
}

header {
  height: 100vh; /* 100% of a device vertical height */
  color: var(--color-white); /* sets text color to white */
  overflow: hidden; /* hides any text that goes past the page (no scroll bar) */
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(
    -100%
  ); /* hides the section (later transitions into the page) */
  transition: var(--transition0);
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: var(--transition0);
    i {
      color: var(--color-white) !important;
    }
  }

  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    box-shadow: var(--box-shadow0) i {
      font-size: 1.2rem;
      color: var(--color-grey2);
      pointer-events: none;
    }
  }
}

/*
Footnotes
1. https://www.w3schools.com/cssref/css_selectors.php
2. https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
*/
