* {
  /* * : universal selector; applies to all elements; see #1 */

  margin: 0; /* creates space outside the element */
  padding: 0; /* space between element content and its border */
  box-sizing: border-box; /* sets how element's size (width/height) is calculated */
  list-style: none; /* sets bulet point styles; see #2 */
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #fff6a6;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4: #454e56;
  --color-grey5: #2a2e35;
  --color-grey6: #12181b;
  --br-sm-2: 14px;
  --box-shadow0: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --transition0: all 0.4s ease-in-out;
}

body {
  background-color: var(
    --color-primary
  ); /* sets the background color of body */
  font-family: "Poppins", sans-serif; /* sets font for every element in body */
  font-size: 1.1rem; /* sets defualt font size for every element in body */
  color: var(
    --color-white
  ); /* sets default font color for every element in body */
  transition: var(
    --transition0
  ); /* adds transitions to every element in body */
}

a {
  display: inline-block; /* determines how an element is displayed. see #3 */
  text-decoration: none; /* adds decorative lines to text */
  color: inherit; /* inherits color value from its parent */
  font-family: inherit; /* inherits font value from its parent */
}

header {
  height: 100vh; /* 100% of a device vertical height */
  color: var(--color-white); /* sets text color to white */
  overflow: hidden; /* hides any text that goes past the page (no scroll bar) */
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(
    -100%
  ); /* hides the section (later transitions into the page) */
  transition: var(--transition0);
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0%{
      transform: translateY(-100%) scaleY(0)
    }
    100%{
      transform: translateY(0) scaleY(1)
    }
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: var(--transition0);
    i {
      color: var(--color-white) !important;
    }
  }

  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    stroke-width: 5px;
    stroke: #000;
    box-shadow: var(--box-shadow0) i {
      font-size: 1.2rem;
      color: var(--color-grey2);
      pointer-events: none;
    }
  }
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .left-header{
    display: flex;
    align-items: center;
    position: relative;
    .h-shape {
      transition: var(--transition0);
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%)/* see #3 */
    }
    .image {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      background-color: var(--color-black);
      transition: var(--transition0);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--transition0);
        filter: grayscale(100%);
        &:hover{
          filter: grayscale(0%);
    }
  }
        }
      }
    }
  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    .name {
      font-size: 3rem;
      span {
        color: var(--color-secondary);
      }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  .btn-text {
    padding: 0 2rem;
  }
  .btn-icon{
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: var(--transition0);
    z-index: -1;
  }
  &:hover{
    &::before{
      width: 100%;
      height: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0);
    }
  }
}

.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    span{
      color: var(--color-secondary);
    }
  }
}

/*
Footnotes
1. https://www.w3schools.com/cssref/css_selectors.php
2. https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
3. https://bennettfeely.com/clippy/
*/
